# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/31339/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
!env/
env/*
!env/example.env
.env.*

node_modules

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
*.log

# vnev
/venv

# log
/log

# Soldeer
/dependencies
soldeer.lock
.DS_Store