# Environment Variables for TermMax Deployment
# ----------------------------------------------
# DEPLOYMENT ROLES:
# - ADMIN: The owner of the AccessManager contract, with ultimate authority
# - DEPLOYER: The address that deploys contracts and needs specific roles
#
# DEPLOYMENT SEQUENCE:
# 1. Deploy AccessManager (needs ADMIN_ADDRESS and DEPLOYER_PRIVATE_KEY)
# 2. Grant roles to deployer (needs ADMIN_PRIVATE_KEY and DEPLOYER_ADDRESS)
# 3. Deploy core contracts (needs DEPLOYER_PRIVATE_KEY)
# 4. Deploy market contracts (needs DEPLOYER_PRIVATE_KEY)
# ----------------------------------------------

# Ethereum Mainnet Config
ETH_MAINNET_RPC_URL=
ETH_MAINNET_DEPLOYER_ADDRESS=
ETH_MAINNET_DEPLOYER_PRIVATE_KEY=
ETH_MAINNET_ADMIN_ADDRESS=
ETH_MAINNET_TREASURER_ADDRESS=
ETH_MAINNET_VAULT_CURATOR_ADDRESS=
ETH_MAINNET_VAULT_GUARDIAN_ADDRESS=
ETH_MAINNET_VAULT_ALLOCATOR_ADDRESS=
# source: https://docs.uniswap.org/contracts/v3/reference/deployments/ethereum-deployments
ETH_MAINNET_UNISWAP_V3_ROUTER_ADDRESS=0xE592427A0AEce92De3Edee1F18E0157C05861564
# source: curl -X 'GET' 'https://api.odos.xyz/info/router/v2/1' -H 'accept: application/json'
ETH_MAINNET_ODOS_V2_ROUTER_ADDRESS=0xCf5540fFFCdC3d510B18bFcA6d2b9987b0772559
# source: https://github.com/pendle-finance/pendle-core-v2-public/blob/main/deployments/1-core.json
ETH_MAINNET_PENDLE_SWAP_V3_ROUTER_ADDRESS=0x888888888889758F76e7103c6CbF23ABbF58F946
ETH_MAINNET_ORACLE_TIMELOCK=

# Arbitrum Mainnet Config
ARB_MAINNET_RPC_URL=
ARB_MAINNET_DEPLOYER_ADDRESS=
ARB_MAINNET_DEPLOYER_PRIVATE_KEY=
ARB_MAINNET_ADMIN_ADDRESS=
ARB_MAINNET_TREASURER_ADDRESS=
ARB_MAINNET_VAULT_CURATOR_ADDRESS=
ARB_MAINNET_VAULT_GUARDIAN_ADDRESS=
ARB_MAINNET_VAULT_ALLOCATOR_ADDRESS=
# source: https://docs.uniswap.org/contracts/v3/reference/deployments/ethereum-deployments
ARB_MAINNET_UNISWAP_V3_ROUTER_ADDRESS=0xE592427A0AEce92De3Edee1F18E0157C05861564	
# source: curl -X 'GET' 'https://api.odos.xyz/info/router/v2/1' -H 'accept: application/json'
ARB_MAINNET_ODOS_V2_ROUTER_ADDRESS=0xa669e7A0d4b3e4Fa48af2dE86BD4CD7126Be4e13
# source: https://github.com/pendle-finance/pendle-core-v2-public/blob/main/deployments/1-core.json
ARB_MAINNET_PENDLE_SWAP_V3_ROUTER_ADDRESS=0x888888888889758F76e7103c6CbF23ABbF58F946
ARB_MAINNET_ORACLE_TIMELOCK=

# Ethereum Sepolia Config
ETH_SEPOLIA_RPC_URL=
ETH_SEPOLIA_DEPLOYER_ADDRESS=
ETH_SEPOLIA_DEPLOYER_PRIVATE_KEY=
ETH_SEPOLIA_ADMIN_ADDRESS=
ETH_SEPOLIA_TREASURER_ADDRESS=
ETH_SEPOLIA_VAULT_CURATOR_ADDRESS=
ETH_SEPOLIA_VAULT_GUARDIAN_ADDRESS=
ETH_SEPOLIA_VAULT_ALLOCATOR_ADDRESS=
ETH_SEPOLIA_ORACLE_TIMELOCK=
